<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="ftpuser" value="img"/>
    <add key="ftppwd" value="Gigade123456"/>
    <!--<add key="ftpuser" value="lhinc"/>
	  <add key="ftppwd" value="123"/>-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="MySqlConnectionString" value="Server=192.168.71.9;database=gidb;user=gigade;pwd=ge20110831;charset='utf8'" />-->
    <add key="MySqlConnectionString" value="Server=192.168.75.1;database=gigade;user=sa;pwd=123456;" />
    <!--<add key="MySqlConnectionString" value="Server=192.168.75.60;database=gidb;user=root;pwd=123456;" />-->

    <add key="ImportDeliverySetExcel" value="/ImportTransportExcel/"/>
    <add key="ImportUserIOExcel" value="/ImportUserIOExcel/"/>
    <add key="ImportVendorCsv" value="/ImportVendorCsv/"/>
    <add key="ImportCategoryCSV" value="/ImportCategoryCSV/"/>
    <add key="ImportOrderExcel" value="/ImportOrderExcel/"/>
    <add key="ImportCompareExcel" value="/ImportCompareExcel/"/>
    <add key="ImportOrderPDF" value="/ImportOrderPDF/"/>
    <add key="SiteConfig" value="/Config.xml"/>
    <add key="REDEEM_XML" value="/XML/happygo_deduct_reverse.ctp"/>
    <!--中信一點一元-->
    <add key="link" value="http://link/"/>
    <!--連結管理獲取連結地址-->
    <add key="LinkPath" value="http://new.gigade100.com"/>
    <!--<add key="LinkPath" value="http://www.gigade100.com/"/>-->

    <!--上傳到ftp的目錄-->
    <add key="imgLocalPath" value="ftp://192.168.71.10:2121/img"/>
    <!--<add key="imgLocalPath" value=" ftp://192.168.18.166:2121/img"/>-->
    <!--用於圖片顯示的目錄-->
    <add key="imgServerPath" value="http://192.168.71.10:8765"/>
    <!--上傳到本地網站的目錄-->
    <add key="imgLocalServerPath" value="/aimg.gigade100.com"/>
    <!--鏈接到供應商後台-->
    <!--<add key="vendorServerPath" value="http://192.168.19.66:85/"/>-->
    <add key="vendorServerPath" value="http://localhost:56331/"/>

    <!--上傳檔案到web-->
    <!--chaojie1124j添加于2015/03/19-->
    <add key="archivesPath" value="/archives/"/>

    <add key="prodPath" value="/product/a/" />
    <add key="prod150Path" value="/product/150x150/" />
    <add key="prod280Path" value="/product/280x280/" />
    <add key="prod50Path" value="/product/50x50/" />

    <!--添加640x640的路徑-->
    <add key="mobile640Path" value="/product/640x640/" />

    <add key="coursePath" value="/course/a/" />

    <add key="specPath" value="/product_spec/a/" />
    <add key="spec280Path" value="/product_spec/280x280/" />
    <add key="spec100Path" value="/product_spec/100x100/" />

    <add key="descPath" value="/product_picture/a/" />
    <add key="desc400Path" value="/product_picture/400x400/" />

    <add key="descMobilePath" value="/product_picture/mobile/" />

    <add key="prod_tagPath" value="/product_tag/a/" />

    <add key="prod_noticePath" value="/product_notice/a/" />
    <add key="prod_notice400Path" value="/product_notice/400x400/" />
    <!--供應商圖片存放位置-->
    <add key="vendorPath" value="/vendor/"/>
    <!--促銷紅配綠圖片存放位置-->
    <add key="promoPairPath" value="/pair/"/>
    <!--促銷活動圖片存放位置-->
    <add key="promoPath" value="/promotion/dev/"/>
    <!--健康2.0圖片存放位置-->
    <add key="healthPath" value="/health/"/>
    <!--中信廣告圖片存放位置-->
    <add key="elementPath" value="/element/"/>
    <!--調查文卷圖片存放位置-->
    <add key="paperPath" value="/paper/"/>
    <add key="connString" value="server=192.168.18.134;database=Gigade;user=sa;pwd=sa"/>

    <!--紅配綠phpWeb_host位置-->
    <add key="phpWeb_host" value="http://new.gigade100.com"/>
    <!--通關密語&&問卷送禮-->
    <add key="NewPromoPath" value="/NewPromoPath/"/>
    <!--Kendo編輯器圖片文件上傳配置-->
    <add key="webDavBaseAddress" value="http://192.168.16.118" />
    <add key="webDavFile" value="uploads" />
    <add key="webDavImage" value="uploads" />
    <add key="webDavUserName" value="admin" />
    <add key="webDavPwd" value="123456" />
    <!--商品咨詢郵件發送-->
    <add key="FromName" value="吉甲地市集"/>
    <add key="EmailTile" value="【商品諮詢回覆】通知信"/>
    <!--商品咨詢郵件發送end-->
    <!--商品評價郵件發送-->
    <add key="CommentEmailTile" value="吉甲地市集【商品評價回覆】通知信"/>
    <!--客服管理咨詢郵件發送-->
    <add key="ContactFromName" value="吉甲地客服中心"/>
    <add key="ContactEmailTile" value="【諮詢回覆】通知信"/>
    <!--客服管理咨詢郵件發送end-->
    <!--客服管理咨詢郵件發送-->
    <add key="FromNameGigade" value="吉甲地客服中心"/>
    <add key="EmailTileGigade" value="吉甲地通知信"/>
    <!--客服管理咨詢郵件發送end-->
    <add key="infoPath" value="XML/gigadeServiceInfo.txt" />
    <!--存放服務異常txt文檔的路徑-->
    <!--phpWeb_host位置-->
    <!--資安管理新增會員發送-->
    <add key="UserName" value="吉甲地會員中心"/>
    <!--資安管理新增會員發送end-->

    <!--檢驗報告上傳圖片-->
    <add key="InspectionReportPath" value="/InspectionReport/"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <!--配置上傳文件的最大值-->
    <httpRuntime maxRequestLength="102400" executionTimeout="3000" useFullyQualifiedRedirectUrl="true"/>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="sessionModule" type="ActionFilter"/>
    </httpModules>
    <globalization uiCulture="auto"></globalization>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"  cookieless="false" timeout="60"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="sessionModule" type="ActionFilter"/>
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ADONetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
      <connectionString value="Server=192.168.75.1;database=gigade;user=sa;pwd=123456;charset='utf8'" />

      <commandText value="insert into t_errorlog (`log_date`,`thread`,`level`,`logger`,`message`,`method`) values (@log_date, @thread, @log_level, @logger, @content,@method)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <!--<parameter>
			<parameterName value="@message"/>
			<dbType value="String"/>
			<size value="4000"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message"/>
			</layout>
		</parameter>-->
      <parameter>
        <parameterName value="@content"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="Admin.gigade.Log4NetCustom.CustomLayout">
          <conversionPattern value="%property{Content}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@method"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Admin.gigade.Log4NetCustom.CustomLayout">
          <conversionPattern value="%property{MethodName}"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ADONetAppender_SqlServer"/>
    </root>
    <!--<logger name="mylogger" additivity="false">
			<level value="INFO"/>
		</logger>-->
  </log4net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITransImage" closeTimeout="00:01:00"
				  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				  textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
					  enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
						  realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
						  algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:38707/TransImage.svc" binding="wsHttpBinding"
			  bindingConfiguration="WSHttpBinding_ITransImage" contract="GigadeService.ITransImage"
			  name="WSHttpBinding_ITransImage">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
