@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>xmlFile</title>
    <script type="text/javascript">
        //window.location.href = "../../XML/ItemPrice.xml";
        window.open("../../XML/ItemPrice.xml");
    </script>
</head>
<body>
    <div>
        @*//<a href="../../XML/ItemPrice.xml">*@
    </div>
</body>
</html>

