
<script src="../../Locale/@Html.Raw(Request.Cookies["lang"] == null ? "zh-TW" : Request.Cookies["lang"].ToString())/Product/productPic.js?v=@Context.Application["Version"].ToString()" type="text/javascript"></script>
<script src="../../Scripts/Views/Product/productPic.js?v=@Context.Application["Version"].ToString()" type="text/javascript"></script>

@*<form id="form1" method="post" target="uplodeframe">
<input  type="file" id="uploder" name="uploader" onchange="fileChangeHandel();" style=" display:none" />
<iframe name="uplodeframe"  height="0%" width="0%" frameborder="no" border="0" marginwidth="0"
    marginheight="0" scrolling="no"></iframe>
<input id="nameType" type="hidden" />
</form>*@

<iframe name="iframe1" src="upLoad" style="display:none"></iframe>

<img id="imgTip" style="position: absolute;border: solid 1px #ccc;padding: 3px; z-index:500;  width: 400px;height: 400px;background-color: #eee;display: none" class="clsImg" src=""/>
  
