@{
    ViewBag.Title = "upLoad";
}

<h2>upLoad</h2>
<script type="text/javascript">
    function fileChangeHandel() {
        $("#form1").attr("action", "/Product/upLoadImg?nameType=" + $("#nameType").val());
        $("#form1").submit();
    }
</script>


    @if (ViewBag.moreFileOneTime!=null && ViewBag.moreFileOneTime)
    {
        if (ViewBag.spec_id != -1)
        {
            //Response.Write("[{fileName:'" + ViewBag.fileName + "'},{spec_id:" + ViewBag.spec_id + "}]");
            Response.Write("[{fileName:'" + ViewBag.fileName + "'},{spec_id:" + ViewBag.spec_id + "},{Type:" + (ViewBag.Type ?? "1") + "}]");
        }
        else
        {
            //Response.Write("{fileName:'" + ViewBag.fileName + "'}");
            //Response.Write("{fileName:'" + ViewBag.fileName + "',Type:'" + (ViewBag.Type ?? "1") + "'}");

            //將後臺出歘來的數據寫出 并傳給js文件以便接收  edit by zhuoqin0830w 2015/01/29
            //Response.Write("{fileName:'" + ViewBag.fileName + "',Type:'" + (ViewBag.Type ?? "1") + "',sort:'" + ViewBag.sort + "',result:'" + ViewBag.result + "'}");
            Response.Write("{fileName:'" + ViewBag.fileName + "',Type:'" + (ViewBag.Type ?? "1") + "',image_sort:'" + ViewBag.image_sort + "'}");
        }
        Response.End();
    }
    else
    {
        Response.Write(string.Format("<script>window.parent.addNewRow('{0}','{1}');</script>" ,ViewBag.fileName??"" , ViewBag.Type??""));
    }
   

<form id="form1"  method="post" enctype="multipart/form-data" target="iframe1">
    <input type="file" id="Filedata" name="Filedata" onchange="fileChangeHandel();"/>
    <input id="nameType" type="hidden" />
    <input id="appOrexplain" name="appOrexplain" type="hidden" />
</form>

