@{
    Layout = null;
}
<style type="text/css">
body {
	margin:0 auto;
}
#header {
	background-color: #ffffff;
	background-image:url(../../Content/img/bg_top.jpg);
	background-repeat:repeat-x;
	height: 100px;
	width:100%;
}
#header_left {
	/*float:left;*/
	/*margin-left:5px;*/
    position:absolute;
    left:5px;
    width:50%;
    min-width:480px;
    overflow:hidden;
}
#header_right {
	float:right;
	margin-right:30px;
}
</style>
<div id="header" >
    <div id="header_left"><img src="../../Content/img/logo.jpg" alt="logo" /></div>
    <div id="header_right"><img src="../../Content/img/top_icon.jpg" width="586" height="100" alt="" /></div>
</div>