@{
    ViewBag.Title = "upLoad";
}
<h2>upLoad</h2>
<script type="text/javascript">
    function fileChangeHandel() {
        $("#form1").attr("action", "/PromotionsAmountTrial/upLoadImg");
        $("#form1").submit();
    }
</script>


    @if (ViewBag.moreFileOneTime!=null && ViewBag.moreFileOneTime)
    {
        if (ViewBag.spec_id != -1)
        {
            Response.Write("[{fileName:'" + ViewBag.fileName + "'},{spec_id:" + ViewBag.spec_id + "}]");
        }
        else
        {
            //Response.Write("{fileName:'" + ViewBag.fileName + "'}");
            Response.Write("{fileName:'" + ViewBag.fileName + "',Type:'" + (ViewBag.Type ?? "1") + "'}");

           
        }
        Response.End();
    }
    else
    {
        Response.Write(string.Format("<script>window.parent.addNewRow('{0}','{1}');</script>" ,ViewBag.fileName??"" , ""));
    }

<form id="form1"  method="post" enctype="multipart/form-data" target="iframe1">
    <input type="file" id="Filedata" name="Filedata" onchange="fileChangeHandel();"/>
    <input id="nameType" type="hidden" />
    <input id="appOrexplain" name="appOrexplain" type="hidden" />
</form>

