<script type="text/javascript">
    function sub() {
        $("#updateERP_ID").submit();
    }
</script>
<form id="updateERP_ID" action="/BackDoor/UpdateERP_ID">
<div  style="width:500px;padding:5px">
    <span>数据库连接字符串：</span>
    <input id="connString" type="text" name="connString" style="width:300px" />
    <input id="sub" type="submit" value="提交" />
    <span>eg:Server=192.168.xx.xxx;database=xxxxxx;user=xxxx;pwd=xxxxxx;charset='utf8'</span>
</div>    
</form>
