@{
    ViewBag.Title = "upLoad";
}

<h2>upLoad</h2>
<script type="text/javascript">
    //function fileChangeHandel() {
    //    $("#form1").attr("action", "/Product/upLoadImg?nameType=" + $("#nameType").val());
    //    $("#form1").submit();
    //}
</script>


@if (ViewBag.Type == "course")
 {
     //Response.Write("[{fileName:'" + ViewBag.fileName + "'},{Type:" + (ViewBag.Type ?? "1") + "}]");
     Response.Write("{fileName:'" + ViewBag.fileName + "',Type:'" + (ViewBag.Type ?? "1") + "',success:'"+ViewBag.status+"'}");
     Response.End();
 }


