

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

.ui-icon { width: 16px; height: 16px; background-image: url(../img/icons/icons.png); }
/*1 row*/
.ui-icon-user-mgr { background-position: 0 0 !important; }
.ui-icon-user-gear { background-position: -16px 0 !important; }
.ui-icon-user-key { background-position: -32px 0 !important; }
.ui-icon-key { background-position: -48px 0 !important; }
.ui-icon-user-add { background-position: -64px 0 !important; }
.ui-icon-user-delete { background-position: -80px 0 !important; }
.ui-icon-user-edit { background-position: -96px 0 !important; }
.ui-icon-user-suite { background-position: -112px 0 !important; }
.ui-icon-house { background-position: -128px 0 !important; }
.ui-icon-house-add { background-position: -144px 0 !important; }
.ui-icon-house-supermarket { background-position: -160px 0 !important; }
.ui-icon-mapping { background-position: -176px 0 !important; }
.ui-icon-data-out { background-position: -192px 0 !important; }
.ui-icon-data-magging { background-position: -208px 0 !important; }
.ui-icon-paper-write { background-position: -224px 0 !important; }
/*2 row*/
.ui-icon-paper-up { background-position: 0 -16px !important; }
.ui-icon-paper-down { background-position: -16px -16px !important; }
.ui-icon-data-change { background-position: -32px -16px !important; }
.ui-icon-search { background-position: -48px -16px !important; }
.ui-icon-case-in { background-position: -64px -16px !important; }
.ui-icon-case-in-1 { background-position: -80px -16px !important; }
.ui-icon-error { background-position: -96px -16px !important; }
.ui-icon-conf { background-position: -112px -16px !important; }
.ui-icon-notice { background-position: -128px -16px !important; }
.ui-icon-shoppingcar-ok-1 { background-position: -144px -16px !important; }
.ui-icon-shoppingcar-money { background-position: -160px -16px !important; }
.ui-icon-shoppingcar-ok-2 { background-position: -176px -16px !important; }
.ui-icon-shoppingcar-ok-3 { background-position: -192px -16px !important; }
.ui-icon-shoppingcar-add-1 { background-position: -208px -16px !important; }
.ui-icon-shoppingcar-add-2 { background-position: -224px -16px !important; }
/*3 row*/
.ui-icon-shoppingcar-io { background-position: 0 -32px !important; }
.ui-icon-shoppingcar { background-position: -16px -32px !important; }
.ui-icon-money-add { background-position: -32px -32px !important; }
.ui-icon-money-ok { background-position: -48px -32px !important; }
.ui-icon-down { background-position: -64px -32px !important; }
.ui-icon-noin { background-position: -80px -32px !important; }
.ui-icon-up { background-position: -96px -32px !important; }
.ui-icon-align { background-position: -112px -32px !important; }
.ui-icon-paper-out { background-position: -128px -32px !important; }
.ui-icon-conf-edit { background-position: -144px -32px !important; }
.ui-icon-table-confi { background-position: -160px -32px !important; }
.ui-icon-dis { background-position: -176px -32px !important; }
.ui-icon-repair { background-position: -192px -32px !important; }
.ui-icon-tag-1 { background-position: -208px -32px !important; }
.ui-icon-tag-2 { background-position: -224px -32px !important; }
/*4 row*/
.ui-icon-tag-3 { background-position: 0 -48px !important; }
.ui-icon-tag-4 { background-position: -16px -48px !important; }
.ui-icon-tag-5 { background-position: -32px -48px !important; }
.ui-icon-tag-6 { background-position: -48px -48px !important; }
.ui-icon-tag-7 { background-position: -64px -48px !important; }
.ui-icon-tag-8 { background-position: -80px -48px !important; }
.ui-icon-tag-9 { background-position: -96px -48px !important; }
.ui-icon-tag-10 { background-position: -112px -48px !important; }
.ui-icon-tag-11 { background-position: -128px -48px !important; }
.ui-icon-tag-12 { background-position: -144px -48px !important; }
.ui-icon-media { background-position: -160px -48px !important; }
.ui-icon-glass { background-position: -176px -48px !important; }
.ui-icon-gemstone { background-position: -192px -48px !important; }
.ui-icon-boll { background-position: -208px -48px !important; }
.ui-icon-racket { background-position: -224px -48px !important; }
/*5 row*/
.ui-icon-brand { background-position: 0 -64px !important; }
.ui-icon-goodhand { background-position: -16px -64px !important; }
.ui-icon-stick { background-position: -32px -64px !important; }
.ui-icon-shoppingcar-add-3 { background-position: -48px -64px !important; }
.ui-icon-shoppingcar-add-4 { background-position: -64px -64px !important; }
.ui-icon-shoppingcar-2 { background-position: -80px -64px !important; }
.ui-icon-people { background-position: -96px -64px !important; }
.ui-icon-person-1 { background-position: -112px -64px !important; }
.ui-icon-person-2 { background-position: -128px -64px !important; }
.ui-icon-preson-3 { background-position: -144px -64px !important; }
.ui-icon-person-4 { background-position: -160px -64px !important; }
.ui-icon-person-5 { background-position: -176px -64px !important; }
.ui-icon-person-6 { background-position: -192px -64px !important; }
.ui-icon-person-7 { background-position: -208px -64px !important; }
.ui-icon-autotrack-1 { background-position: -224px -64px !important; }
/*6 row*/
.ui-icon-autotrack-2 { background-position: 0 -80px !important; }
.ui-icon-medal { background-position: -16px -80px !important; }
.ui-icon-checked { background-position: -32px -80px !important; }
.ui-icon-add { background-position: -48px -80px !important; }
.ui-icon-reset { background-position: -64px -80px !important; }
.ui-icon-up-down { background-position: -80px -80px !important; }
.ui-icon-stop { background-position: -96px -80px !important; }
.ui-icon-envelope { background-position: -112px -80px !important; }
.ui-icon-pencil { background-position: -128px -80px !important; }
.ui-icon-pencil-add { background-position: -144px -80px !important; }
.ui-icon-mosaic { background-position: -160px -80px !important; }
.ui-icon-search-2 { background-position: -176px -80px !important; }
.ui-icon-delete { background-position: -192px -80px !important; }
.ui-icon-wrongs { background-position: -208px -80px !important; }
.ui-icon-cancel { background-position: -224px -80px !important; }
/*7 row*/
.ui-icon-asterisk-orange { background-position: 0 -96px !important; }
.ui-icon-comments { background-position: -16px -96px !important; }
.ui-icon-application-view-tile { background-position: -32px -96px !important; }
.ui-icon-cake { background-position: -48px -96px !important; }
.ui-icon-attach { background-position: -64px -96px !important; }
.ui-icon-brick { background-position: -80px -96px !important; }
.ui-icon-bell { background-position: -96px -96px !important; }
.ui-icon-book-open { background-position: -112px -96px !important; }
.ui-icon-cross { background-position: -128px -96px !important; }
.ui-icon-computer { background-position: -144px -96px !important; }
.ui-icon-cup { background-position: -160px -96px !important; }
.ui-icon-door-out { background-position: -176px -96px !important; }
.ui-icon-email-link { background-position: -192px -96px !important; }
.ui-icon-email { background-position: -208px -96px !important; }
.ui-icon-female { background-position: -224px -96px !important; }
/*8 row*/
.ui-icon-folder-star { background-position: 0 -112px !important; }
.ui-icon-folder { background-position: -16px -112px !important; }
.ui-icon-heart { background-position: -32px -112px !important; }
.ui-icon-information { background-position: -48px -112px !important; }
.ui-icon-lightbulb-off { background-position: -64px -112px !important; }
.ui-icon-lightbulb { background-position: -80px -112px !important; }
.ui-icon-link { background-position: -96px -112px !important; }
.ui-icon-male { background-position: -112px -112px !important; }
.ui-icon-page-copy { background-position: -128px -112px !important; }
.ui-icon-page-green { background-position: -144px -112px !important; }
.ui-icon-page-red { background-position: -160px -112px !important; }
.ui-icon-page-white-link { background-position: -176px -112px !important; }
.ui-icon-page-white-text { background-position: -192px -112px !important; }
.ui-icon-page-white-blue { background-position: -208px -112px !important; }
.ui-icon-palette { background-position: -224px -112px !important; }
/*9 row*/
.ui-icon-pill { background-position: 0 -128px !important; }
.ui-icon-rainbow { background-position: -16px -128px !important; }
.ui-icon-script { background-position: -32px -128px !important; }
.ui-icon-shield { background-position: -48px -128px !important; }
.ui-icon-spellcheck { background-position: -64px -128px !important; }
.ui-icon-star { background-position: -80px -128px !important; }
.ui-icon-table-link { background-position: -96px -128px !important; }
.ui-icon-table { background-position: -112px -128px !important; }
.ui-icon-time { background-position: -128px -128px !important; }
.ui-icon-transmit { background-position: -144px -128px !important; }
.ui-icon-tux { background-position: -160px -128px !important; }
.ui-icon-world { background-position: -176px -128px !important; }
.ui-icon-wrench { background-position: -192px -128px !important; }
.ui-icon-record { background-position: -208px -128px !important; }
.ui-icon-application-link { background-position: -224px -128px !important; }
/*10 row*/
.ui-icon-application-view { background-position: 0 -144px !important; }
.ui-icon-application-go { background-position: -16px -144px !important; }
.ui-icon-application-view-list { background-position: -32px -144px !important; }
.ui-icon-cog-edit { background-position: -48px -144px !important; }
.ui-icon-connect { background-position: -64px -144px !important; }
.ui-icon-feed-add { background-position: -80px -144px !important; }
.ui-icon-feed-delete { background-position: -96px -144px !important; }
.ui-icon-feed-error { background-position: -112px -144px !important; }
.ui-icon-folder-wrench { background-position: -128px -144px !important; }
.ui-icon-grid { background-position: -144px -144px !important; }
.ui-icon-image { background-position: -160px -144px !important; }
.ui-icon-picnik { background-position: -176px -144px !important; }
.ui-icon-excel { background-position: -192px -144px !important; }
.ui-icon-folder-go { background-position: -208px -144px !important; }
